<div>
  <h1 style="text-align: center;padding: 10px">{{book.name}}</h1>
  <div nz-row nzGutter="40">
    <!-- book picture -->
    <div nz-col nzSpan="6">
      <nz-card [nzCover]="coverTemplate">
        <nz-card-meta [nzDescription]="cardTitle"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img style="height: 350px" [src]="book.imagePath" />
      </ng-template>
    </div>
    <!-- book info -->
    <div nz-col nzSpan="6">
      <p>Author: <strong>{{book.author}}</strong></p>
      <p>Description: <strong>{{book.description}}</strong></p>
      <p>Price: <strong>{{book.price}} $/day</strong></p>
    </div>
    <!-- rates -->
    <div nz-col nzSpan="6">
      <app-rates></app-rates>
      <nz-divider style="background-color: black" nzDashed="true"></nz-divider>
      <div>
        <label style="font-size: 18px">Rate Me:</label>
        <nz-rate [(ngModel)]="rate" (click)="clickRateHandle()" [nzDisabled]="isRated"></nz-rate>
        <div>
          <app-date-picker [book]="book" content="Borrow Me"></app-date-picker>
        </div>
      </div>
    </div>
  </div>
</div>